*{
   font-family:'Times New Roman', Times, serif;
   margin:0;
   padding:0;
   box-sizing: border-box;
   text-decoration: none;
}

body{
    background-color: white;
    font-size:1rem;
    text-decoration: none;
    color: black;

}

header{
    display: flex;
    align-items: center; 
    flex-direction: column;
    align-items: flex-start;
}
.tagline{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
   margin-left: 5px;
   height: 55px;
}
nav{
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
    
}
.upper{
    display: flex;
    align-items: center;
    padding: 7px;
}
.lower{
     justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;   
}
nav li{
    list-style: none;
    padding: 20px;
    text-transform: uppercase;
    font-weight:bold;
}
.link-header ul a{
    /* text-decoration: none;   */
    color: white;
}

.link-header li:hover{
    background-color: blue;
}

.banner{
    height: 500px;
    padding: 10px;
    width: 100%;
      
}

.image-container{
    position: relative;
    height: 400px;
    box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.5);
}

.image-container img{
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
}
.banner-content{
    position:absolute;
    top: 50%;
left: 50%;
transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.button{
    text-decoration: none;
    font-size: 20px;
    color: antiquewhite;
}



section {
    padding: 20px;    
}

 .box{
    display: flex;
   gap: 20px;
 }

 .inner-box {
    text-align: center;
    padding: 20px;
 }
.image-box img{
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in;
   
}

.image-box img:hover{
    transform: scale(1.2);
}

 .text-box {
    text-align: left;
    font-family: "Raleway", "Open Sans", arial, sans-serif;

    
 }
 .title-box{
    font-family: "Raleway", "Open Sans", arial, sans-serif;
    font-size: 20px;
    padding: 12px 6px 12px 6px;
    /* border: solid blue; */
    /* border-width: 0px 0px 3px 0px; */
    border-bottom: 3px solid blue;
    /* margin: 0px 0px 10px 0px; */
    /* margin: 10px 25px; */
    margin-bottom: 10px;
   text-align: center;
   font-weight:300;
 }

 .link-td{
    font-family: "Raleway", "Open Sans", arial, sans-serif;
    text-align: center;
    padding: 12px 6px;
    border: solid rgb(161, 161, 161);
    border-width: 1px 0px;
    margin-top: 10px;
    font-size: 18px;
    color: rgb(161, 161, 161);
 }
 .link-td a{
    text-decoration: none;
 }
 .link-td a:hover{
    color: green;
 }
 
 .footer-container{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    background-image: url(images/image-slide-1.jfif);
    padding: 20px;
 }
 
 footer ul {
  list-style: none;

 }
.container-box ul a{
 text-decoration: none;
 color: whitesmoke;
}
.container-box h4{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    border-bottom: white 1px solid;
   margin-bottom: 3px;
   padding-bottom: 6px;
  
}

.sub-footer {
    text-align: center;
    background: black;
    color: white;
    border-top: 1px solid white;
    padding: 10px;
}

